@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    background-image: url("../assets/bg_mobile.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-color: var(--pale-blue);
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
}
.wrapper {
    width: 100%;
    max-width: 375px;
    background-color: var(--very-pale-blue);
    border-radius: 1.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.logo img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.container {
    padding: 1.5em;
}

.primary-heading {
    color: var(--dark-blue);
    font-weight: 900;
    text-align: center;
    font-size: 1.5rem;
}
.primary-text {
    color: var(--desaturated-blue);
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1em;
    line-height: 1.5rem;
}
.plan-container {
    display: flex;
    align-items: center;
    background-color: rgba(224, 232, 255, 0.1);
    padding: 1em;
    border-radius: 0.6rem;
    justify-content: space-between;
    margin: 2em 0;
}
.plan-package {
    margin-right: 2em;
}
.plan-name {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1rem;
}
.plan-prize {
    color: var(--desaturated-blue);
    font-weight: 500;
    font-size: 1rem;
}

.plan-container a {
    color: var(--bright-blue);
    font-weight: 900;
    font-size: 0.85rem;
}
.plan-container a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.proceed-payment-btn {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    text-align: center;
    padding: 1em;
    font-weight: 700;
    border-radius: 0.6rem;
    cursor: pointer;
    box-shadow: 2px 7px 20px var(--desaturated-blue);
}
.proceed-payment-btn:hover {
    opacity: 0.8;
}
.cancel-order-btn {
    color: var(--desaturated-blue);
    font-weight: 900;
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 1em;
    width: max-content;
    cursor: pointer;
}
.cancel-order-btn:hover {
    color: var(--dark-blue);
}

@media (min-width: 375px) {
    body {
        background-image: url("../assets/bg_desktop.svg");
    }
    .plan-package {
        margin-right: 4em;
    }
}
